<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <footer class="text-center">
            <div class="mb-2">
                <small>
                    © 2021 made by - <a target="_blank" rel="noopener noreferrer" href="about/Harshita-Sethi.pdf">
                        Harshita Sethi
                    </a>
                </small>
            </div>
            <div>
                <a href="https://github.com/HarshitaSethi/TorreLabs" target="_blank">
                    <img alt="GitHub followers" src="https://img.shields.io/github/followers/HarshitaSethi?label=github&style=social" />
                </a>
                <a href="https://bio.torre.co/en/iamharshitasethi" target="_blank">
                    <img alt="Twitter Follow" src="https://img.shields.io/badge/%20-torre-blue" />
                </a>
            </div>
        </footer>
    </body>
</html>
